# Data Preparing

As described in the data section, to compare the areas/boroughs of London/Frankfurt we have to get to now both cities a little bit better. London has a population of approximately 9 mio. people, covers 1,572 km$^{2}$ and is organised in city of London & 32 boroughs.

Frankfurt on the other side has a poulation of approximately 0,8 mio. people and covers only 248,31km$^{2}$. It is organized in 46 "Stadtteilen"/boroughs, but those boroughs are significantly samller then the boroughs of London. Because of that it is hard to compare the boroughs. 

I decided to compare the [London areas](https://en.wikipedia.org/wiki/List_of_areas_of_London) with the [boroughs of Frankfurt](https://de.wikipedia.org/wiki/Liste_der_Stadtteile_von_Frankfurt_am_Main) because the area and the population is more compareable.

E.g.
* London area: Barnes, area: 4,50 km$^{2}$, population: 21.218
* Frankfurt area: Ostend, area: 5,56 km$^{2}$, poulation: 29.171

In [1]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import folium

## Getting Areas of London

In [2]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_areas_of_London")
df = df[1]
df.head()

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [3]:
df.drop(df.columns.difference(['Location','Post town', 'OS grid ref']), 1, inplace=True)
df.columns = ["Area", "Latitude", "Longitude"]
df.head()

          Area        Latitude Longitude
0   Abbey Wood          LONDON  TQ465785
1        Acton          LONDON  TQ205805
2    Addington         CROYDON  TQ375645
3   Addiscombe         CROYDON  TQ345665
4  Albany Park  BEXLEY, SIDCUP  TQ478728

In [4]:
# Delete all the (also ...)-strings after Borough name.
for i, s in enumerate(df["Area"]):
    if(" (" in s):
        num = s.find(" (")
        s = s[:num]
        df.at[i, "Area"] = s
df.head(50)

                Area             Latitude Longitude
0         Abbey Wood               LONDON  TQ465785
1              Acton               LONDON  TQ205805
2          Addington              CROYDON  TQ375645
3         Addiscombe              CROYDON  TQ345665
4        Albany Park       BEXLEY, SIDCUP  TQ478728
5   Aldborough Hatch               ILFORD  TQ455895
6            Aldgate               LONDON  TQ334813
7            Aldwych               LONDON  TQ307810
8           Alperton              WEMBLEY  TQ185835
9            Anerley               LONDON  TQ345695
10             Angel               LONDON  TQ345665
11         Aperfield            WESTERHAM  TQ425585
12           Archway               LONDON  TQ285875
13    Ardleigh Green           HORNCHURCH  TQ535895
14            Arkley       BARNET, LONDON  TQ225955
15       Arnos Grove               LONDON  TQ295925
16            Balham               LONDON  TQ285735
17          Bankside               LONDON  TQ325795
18          Barbican               LONDON  TQ322818
19           Barking              BARKING  TQ440840
20       Barkingside               ILFORD  TQ445895
21        Barnehurst          BEXLEYHEATH  TQ505755
22            Barnes               LONDON  TQ225765
23       Barnes Cray             DARTFORD  TQ525755
24       Barnet Gate       LONDON, BARNET  TQ218952
25            Barnet               BARNET  TQ245955
26         Barnsbury               LONDON  TQ305845
27         Battersea               LONDON  TQ285765
28         Bayswater               LONDON  TQ255805
29         Beckenham    BECKENHAM, LONDON  TQ375695
30           Beckton      LONDON, BARKING  TQ435815
31         Becontree             DAGENHAM  TQ485855
32   Becontree Heath             DAGENHAM  TQ493871
33        Beddington  WALLINGTON, CROYDON  TQ305655
34      Bedford Park               LONDON  TQ208793
35         Belgravia               LONDON  TQ275795
36        Bellingham               LONDON  TQ375715
37           Belmont     HARROW, STANMORE  TQ165905
38           Belmont               SUTTON  TQ253620
39      Belsize Park               LONDON  TQ273845
40         Belvedere            BELVEDERE  TQ495785
41        Bermondsey               LONDON  TQ335795
42        Berrylands             SURBITON  TQ195675
43     Bethnal Green               LONDON  TQ345825
44            Bexley               BEXLEY  TQ465755
45       Bexleyheath  BEXLEYHEATH, LONDON  TQ485755
46           Bickley              BROMLEY  TQ423688
47       Biggin Hill            WESTERHAM  TQ418590
48          Blackfen               SIDCUP  TQ455745
49       Blackfriars               LONDON  TQ318808

### Adding latitude and longitude

In [5]:
for i, area in enumerate(df["Area"]):
    address = f'{area}, London, Great Britain'
    geolocator = Nominatim(user_agent="l_explorer", timeout=None)
    try:
        location = geolocator.geocode(address)
        latitude = location.latitude
        longitude = location.longitude
    except:
        latitude = float('nan')
        longitude = float('nan')
    print(address, latitude, longitude)
    df.at[i, ["Latitude"]] = latitude
    df.at[i, ["Longitude"]] = longitude

df.head()

Abbey Wood, London, Great Britain 51.487621 0.1140504
Acton, London, Great Britain 51.5081402 -0.2732607
Addington, London, Great Britain 51.3586365 -0.0316347
Addiscombe, London, Great Britain 51.3796916 -0.0742821
Albany Park, London, Great Britain 51.4353837 0.1259653
Aldborough Hatch, London, Great Britain nan nan
Aldgate, London, Great Britain 51.5142477 -0.0757186
Aldwych, London, Great Britain 51.5116345 -0.1190235
Alperton, London, Great Britain 51.5408036 -0.3000963
Anerley, London, Great Britain 51.4075993 -0.0619394
Angel, London, Great Britain 51.5319458 -0.1061056
Aperfield, London, Great Britain 51.3166288 0.0327167
Archway, London, Great Britain 51.5654371 -0.1349977
Ardleigh Green, London, Great Britain 51.5841911 0.2209904
Arkley, London, Great Britain 51.6455827 -0.236258
Arnos Grove, London, Great Britain 51.6164024 -0.1332873
Balham, London, Great Britain 51.4456449 -0.1503643
Bankside, London, Great Britain 51.5125884 -0.3904739
Barbican, London, Great Britain 51.5201501 -0.0986832
Barking, London, Great Britain 51.5389922 0.0804245
Barkingside, London, Great Britain 51.5858181 0.0886245
Barnehurst, London, Great Britain 51.4650212 0.1596467
Barnes, London, Great Britain 51.4718962 -0.2387441
Barnes Cray, London, Great Britain 51.4532994 0.1920241
Barnet Gate, London, Great Britain 51.6418265 -0.2429855
Barnet, London, Great Britain 51.65309 -0.2002261
Barnsbury, London, Great Britain 51.5389351 -0.114735
Battersea, London, Great Britain 51.4707933 -0.172214
Bayswater, London, Great Britain 51.5122764 -0.1883854
Beckenham, London, Great Britain 51.4070938 -0.0303183
Beckton, London, Great Britain 51.5160797 0.0594257
Becontree, London, Great Britain 51.5403111 0.1265241
Becontree Heath, London, Great Britain 51.5610299 0.1478793
Beddington, London, Great Britain 51.3719875 -0.1323928
Bedford Park, London, Great Britain 51.49805155 -0.25573557687433185
Belgravia, London, Great Britain 51.4982128 -0.1534998
Bellingham, London, Great Britain 51.4310809 -0.0245145
Belmont, London, Great Britain 51.3437847 -0.2011522
Belmont, London, Great Britain 51.3437847 -0.2011522
Belsize Park, London, Great Britain 51.5473926 -0.1683005
Belvedere, London, Great Britain 51.4894735 0.1473593
Bermondsey, London, Great Britain 51.4970125 -0.063268
Berrylands, London, Great Britain 51.3937811 -0.2848024
Bethnal Green, London, Great Britain 51.5303456 -0.0561633
Bexley, London, Great Britain 51.4416793 0.150488
Bexleyheath, London, Great Britain 51.4634854 0.1480552
Bickley, London, Great Britain 51.4017399 0.0437122
Biggin Hill, London, Great Britain 51.3166288 0.0327167
Blackfen, London, Great Britain 51.4505408 0.1030617
Blackfriars, London, Great Britain 51.5115854 -0.1037671
Blackheath, London, Great Britain 51.4663175 0.0085624
Blackheath Royal Standard, London, Great Britain 51.4777351 0.0204897
Blackwall, London, Great Britain 51.5079378 -0.0071843
Blendon, London, Great Britain 51.4482606 0.1204599
Bloomsbury, London, Great Britain 51.523126 -0.1260664
Botany Bay, London, Great Britain 51.6765805 -0.1259027
Bounds Green, London, Great Britain 51.607376 -0.1249047
Bow, London, Great Britain 51.5283085 -0.0194816
Bowes Park, London, Great Britain 51.6071861 -0.1204848
Brentford, London, Great Britain 51.4863958 -0.3216623
Brent Cross, London, Great Britain 51.5767595 -0.2183801
Brent Park, London, Great Britain 51.4991376 -0.399273
Brimsdown, London, Great Britain 51.6555713 -0.0308375
Brixton, London, Great Britain 51.4568044 -0.1167959
Brockley, London, Great Britain 51.4578328 -0.0360868
Bromley, London, Great Britain 51.4028046 0.0148142
Bromley, London, Great Britain 51.4028046 0.0148142
Bromley Common, London, Great Britain 51.3758752 0.0438187
Brompton, London, Great Britain 51.4918222 -0.178326
Brondesbury, London, Great Britain 51.5450493 -0.2025961
Brunswick Park, London, Great Britain 51.6262191 -0.1481899
Bulls Cross, London, Great Britain 51.6784103 -0.0590736
Burnt Oak, London, Great Britain 51.6028082 -0.2640125
Burroughs, The, London, Great Britain 51.5883045 -0.2286063
Camberwell, London, Great Britain 51.4745706 -0.0925416
Cambridge Heath, London, Great Britain 51.5319544 -0.0574215
Camden Town, London, Great Britain 51.5423045 -0.1395604
Canary Wharf, London, Great Britain 51.50562 -0.0257169
Cann Hall, London, Great Britain nan nan
Canning Town, London, Great Britain 51.5139887 0.0082987
Canonbury, London, Great Britain 51.5430358 -0.0954008
Carshalton, London, Great Britain 51.3657883 -0.1610857
Castelnau, London, Great Britain 51.4872936 -0.2313674
Castle Green, London, Great Britain 51.5334036 0.12005152247941958
Catford, London, Great Britain 51.4453215 -0.0197534
Chadwell Heath, London, Great Britain 51.5700474 0.1297842
Chalk Farm, London, Great Britain 51.5441141 -0.1534811
Charing Cross, London, Great Britain 51.5074975 -0.1236888
Charlton, London, Great Britain 51.4826053 0.0365359
Chase Cross, London, Great Britain 51.6038969 0.1827807
Cheam, London, Great Britain 51.3576155 -0.2162414
Chelsea, London, Great Britain 51.4875417 -0.1682205
Chelsfield, London, Great Britain 51.3579434 0.1272878
Chessington, London, Great Britain 51.358336 -0.2986216
Childs Hill, London, Great Britain 51.5629822 -0.1972494
Chinatown, London, Great Britain 51.511680299999995 -0.1304959294095688
Chinbrook, London, Great Britain 51.4294489 0.0330024
Chingford, London, Great Britain 51.630887 0.0039962
Chislehurst, London, Great Britain 51.4115718 0.0769545
Chiswick, London, Great Britain 51.4923137 -0.263818
Church End, London, Great Britain 51.601117 -0.1918901
Church End, London, Great Britain 51.601117 -0.1918901
Clapham, London, Great Britain 51.4622924 -0.1388561
Clerkenwell, London, Great Britain 51.5237268 -0.1055555
Cockfosters, London, Great Britain 51.651366 -0.1485149
Colindale, London, Great Britain 51.5954091 -0.2499296
Collier Row, London, Great Britain 51.599912 0.1615162
Colliers Wood, London, Great Britain 51.4182747 -0.1778626
Colney Hatch, London, Great Britain 51.6025172 -0.1480126
Colyers, London, Great Britain 51.470898 0.1683406
Coney Hall, London, Great Britain 51.370466 0.0038495
Coombe, London, Great Britain 51.4194499 -0.2653985
Coombe, London, Great Britain 51.4194499 -0.2653985
Coulsdon, London, Great Britain 51.3199716 -0.1393506
Covent Garden, London, Great Britain 51.512873600000006 -0.12254367918576929
Cowley, London, Great Britain 51.5294929 -0.4763836
Cranford, London, Great Britain 51.4806709 -0.4096772
Cranham, London, Great Britain 51.5614882 0.2679097
Crayford, London, Great Britain 51.4481946 0.1783696
Creekmouth, London, Great Britain 51.51629855 0.09774847286387214
Crews Hill, London, Great Britain 51.6847476 -0.1072562
Cricklewood, London, Great Britain 51.5566986 -0.2157507
Crofton Park, London, Great Britain 51.4552107 -0.0366376
Crook Log, London, Great Britain 51.4596374 0.1240177
Crossness, London, Great Britain 51.501917649999996 0.1514107338698154
Crouch End, London, Great Britain 51.5787402 -0.1235992
Croydon, London, Great Britain 51.3713049 -0.101957
Crystal Palace, London, Great Britain 51.4193664 -0.0711328
Cubitt Town, London, Great Britain 51.4936677 -0.0082433
Cudham, London, Great Britain 51.3163662 0.0748332
Custom House, London, Great Britain 51.508789500000006 -0.0826440579649754
Dagenham, London, Great Britain 51.5413271 0.1481142
Dalston, London, Great Britain 51.5434023 -0.0672286
Dartford, London, Great Britain 51.4443059 0.21807
De Beauvoir Town, London, Great Britain 51.539929 -0.0850011
Denmark Hill, London, Great Britain 51.468043 -0.0896031
Deptford, London, Great Britain 51.4758453 -0.0215164
Derry Downs, London, Great Britain 51.38431755 0.12471191251390645
Dollis Hill, London, Great Britain 51.5519625 -0.2390214
Downe, London, Great Britain 51.336978450000004 0.05458644911205443
Downham, London, Great Britain 51.426111 0.0064566
Dulwich, London, Great Britain 51.4418786 -0.0843244
Ealing, London, Great Britain 51.5126553 -0.3051952
Earls Court, London, Great Britain 51.4916123 -0.193903
Earlsfield, London, Great Britain 51.4464482 -0.1893941
East Barnet, London, Great Britain 51.6416813 -0.1628235
East Bedfont, London, Great Britain 51.4490841 -0.4413594

East Dulwich, London, Great Britain 51.4585551 -0.0727322
East Finchley, London, Great Britain 51.5871881 -0.1648137
East Ham, London, Great Britain 51.5329628 0.0553201
East Sheen, London, Great Britain 51.4623706 -0.267094
East Wickham, London, Great Britain 51.3773424 -0.0256802
Eastcote, London, Great Britain 51.5795418 -0.4016534
Eden Park, London, Great Britain 51.3901801 -0.0263691
Edgware, London, Great Britain 51.613673 -0.2749398
Edmonton, London, Great Britain 51.6203392 -0.0659791
Eel Pie Island, London, Great Britain 51.445126450000004 -0.3254075826905488
Elephant and Castle, London, Great Britain 51.4948884 -0.1005731
Elm Park, London, Great Britain 51.549579 0.1974303
Elmers End, London, Great Britain 51.3994675 -0.0416048
Elmstead, London, Great Britain 51.4181888 0.0469182
Eltham, London, Great Britain 51.4505687 0.0541253
Emerson Park, London, Great Britain 51.5686007 0.2202375
Enfield Highway, London, Great Britain 51.6570215 -0.0470996
Enfield Lock, London, Great Britain 51.6708872 -0.0285727
Enfield Town, London, Great Britain 51.6517156 -0.0786839
Enfield Wash, London, Great Britain nan nan
Erith, London, Great Britain 51.4775613 0.1823013
Falconwood, London, Great Britain 51.4592305 0.0793044
Farringdon, London, Great Britain 51.5201241 -0.1047928
Feltham, London, Great Britain 51.4442232 -0.410659
Finchley, London, Great Britain 51.5973246 -0.1805587
Finsbury, London, Great Britain 51.5265742 -0.1070713
Finsbury Park, London, Great Britain 51.5648345 -0.1064144
Fitzrovia, London, Great Britain 51.5187642 -0.1410017
Foots Cray, London, Great Britain 51.4186732 0.1180187
Forest Gate, London, Great Britain 51.5495236 0.0249248
Forest Hill, London, Great Britain 51.4392419 -0.0530903
Forestdale, London, Great Britain 51.3513283 -0.0387563
Fortis Green, London, Great Britain 51.590997 -0.1534208
Freezywater, London, Great Britain 51.6739765 -0.0398988
Friern Barnet, London, Great Britain 51.6128484 -0.158614
Frognal, London, Great Britain 51.5496303 -0.1811833
Fulham, London, Great Britain 51.4744221 -0.2060772
Fulwell, London, Great Britain 51.4337482 -0.3496847
Gallows Corner, London, Great Britain 51.5927318 0.2124054
Gants Hill, London, Great Britain 51.5765744 0.0653081
Gidea Park, London, Great Britain 51.5811818 0.2059524
Gipsy Hill, London, Great Britain 51.4247042 -0.0845885
Goddington, London, Great Britain 51.3690444 0.1117289
Golders Green, London, Great Britain 51.5718315 -0.1955219
Goodmayes, London, Great Britain 51.565803 0.1119305
Gospel Oak, London, Great Britain 51.5554865 -0.151577
Grahame Park, London, Great Britain 51.6028898 -0.244866
Grange Park, London, Great Britain 51.6433292 -0.0969391
Greenford, London, Great Britain 51.5422492 -0.3453513
Greenwich, London, Great Britain 51.4820845 -0.0045417
Grove Park, London, Great Britain 51.4318969 0.0212344
Grove Park, London, Great Britain 51.4318969 0.0212344
Gunnersbury, London, Great Britain 51.4913757 -0.2755244
Hackney, London, Great Britain 51.5432402 -0.0493621
Hackney Central, London, Great Britain 51.5470605 -0.0568749
Hackney Marshes, London, Great Britain 51.55649645 -0.029171864933870008
Hackney Wick, London, Great Britain 51.543433 -0.0240839
Hadley Wood, London, Great Britain 51.6686277 -0.1761782
Haggerston, London, Great Britain 51.5385184 -0.0753811
Hainault, London, Great Britain 51.6033163 0.0933599
The Hale, London, Great Britain 51.5885692 -0.0631977
Ham, London, Great Britain 51.4347641 -0.3092987
Hammersmith, London, Great Britain 51.4920377 -0.2236401
Hampstead, London, Great Britain 51.5542879 -0.1740747
Hampstead Garden Suburb, London, Great Britain 51.5805081 -0.1806164
Hampton, London, Great Britain 51.4150272 -0.3691409
Hampton Hill, London, Great Britain 51.4278442 -0.355081
Hampton Wick, London, Great Britain 51.4144519 -0.3126743
Hanwell, London, Great Britain 51.5089838 -0.3381584
Hanworth, London, Great Britain 51.4348478 -0.3903611
Harefield, London, Great Britain 51.6041828 -0.4825622
Harlesden, London, Great Britain 51.5363567 -0.257833
Harlington, London, Great Britain 51.4884891 -0.4363028
Harmondsworth, London, Great Britain 51.4889317 -0.4755435
Harold Hill, London, Great Britain 51.6049 0.2201549
Harold Park, London, Great Britain 51.499455 -0.4190281
Harold Wood, London, Great Britain 51.5936326 0.2310497
Harringay, London, Great Britain 51.582382 -0.0996181
Harrow, London, Great Britain 51.5967688 -0.33727515543507014
Harrow on the Hill, London, Great Britain 51.5792702 -0.3366561
Harrow Weald, London, Great Britain 51.6047861 -0.3404854
Hatch End, London, Great Britain 51.6095781 -0.3687836
Hatton, London, Great Britain 51.4658301 -0.4189375
Havering-atte-Bower, London, Great Britain 51.6191842 0.1823672
Hayes, London, Great Britain 51.5077154 -0.4181471
Hayes, London, Great Britain 51.5077154 -0.4181471
Hazelwood, London, Great Britain 51.3333728 0.0749494
Hendon, London, Great Britain 51.5897442 -0.22162
Herne Hill, London, Great Britain 51.4534691 -0.1022835
Heston, London, Great Britain 51.4854573 -0.3719561
Highams Park, London, Great Britain 51.6088927 -0.0001301
Highbury, London, Great Britain 51.5457996 -0.1027127
Highgate, London, Great Britain 51.5744322 -0.1526837
Hillingdon, London, Great Britain 51.542519299999995 -0.44833493117949663
Hither Green, London, Great Britain 51.4514446 -0.0004955
Holborn, London, Great Britain 51.5179341 -0.1195284
Holland Park, London, Great Britain 51.50301195 -0.20414761379575316
Holloway, London, Great Britain 51.5572453 -0.1183706
Homerton, London, Great Britain 51.5470789 -0.043121
Honor Oak, London, Great Britain 51.45129 -0.05128
Hook, London, Great Britain 51.3678984 -0.3071453
Hornchurch, London, Great Britain 51.5613235 0.2212279
Horn Park, London, Great Britain 51.4472867 0.0260585
Hornsey, London, Great Britain 51.5873645 -0.1209667
Hounslow, London, Great Britain 51.4686132 -0.3613471
Hoxton, London, Great Britain 51.5323935 -0.086078
The Hyde, London, Great Britain 51.5962569 -0.2622604
Ickenham, London, Great Britain 51.5615698 -0.4423513
Ilford, London, Great Britain 51.5582734 0.0711669
Isle of Dogs, London, Great Britain 51.4978447 -0.0168854
Isleworth, London, Great Britain 51.4683558 -0.3263111
Islington, London, Great Britain 51.5384287 -0.0999051
Kenley, London, Great Britain 51.3227524 -0.1037854
Kennington, London, Great Britain 51.4882861 -0.1058829
Kensal Green, London, Great Britain 51.5306063 -0.2244449
Kensington, London, Great Britain 51.4989948 -0.1991229
Kentish Town, London, Great Britain 51.5500658 -0.1425625
Kenton, London, Great Britain 51.5815255 -0.3166378
Keston, London, Great Britain 51.3609685 0.0290762
Kew, London, Great Britain 51.4806629 -0.2919292
Kidbrooke, London, Great Britain 51.4675731 0.0285241
Kilburn, London, Great Britain 51.541882 -0.1979358
King's Cross, London, Great Britain 51.5323954 -0.1230224
Kingsbury, London, Great Britain 51.5843174 -0.2787137
Kingston Vale, London, Great Britain 51.43185 -0.2581379
Kingston upon Thames, London, Great Britain 51.4096275 -0.3062621
Knightsbridge, London, Great Britain 51.5008444 -0.166965
Ladywell, London, Great Britain 51.4560257 -0.0191917
Lambeth, London, Great Britain 51.5013012 -0.117287
Lamorbey, London, Great Britain 51.4355092 0.1018049
Lampton, London, Great Britain 51.4776251 -0.3641365
Lea Bridge, London, Great Britain 51.562141499999996 -0.045734448334317473
Leamouth, London, Great Britain 51.5113635 0.0004214
Leaves Green, London, Great Britain 51.33772965 0.030500840370249777
Lee, London, Great Britain 51.4565827 0.0114959
Lessness Heath, London, Great Britain 51.484098 0.14821
Lewisham, London, Great Britain 51.4624325 -0.0101331
Leyton, London, Great Britain 51.5696734 -0.015681
Leytonstone, London, Great Britain 51.5710783 0.0064237
Limehouse, London, Great Britain 51.5133074 -0.0351492
Lisson Grove, London, Great Britain 51.5238504 -0.1671263
Little Ilford, London, Great Britain 51.550298 0.0625225
Little Venice, London, Great Britain 51.5211948 -0.1824045
Locksbottom, London, Great Britain 51.3670479 0.0625805
Longford, London, Great Britain 51.4812266 -0.4908047
Longlands, London, Great Britain 51.4304854 0.0841774
Lower Clapton, London, Great Britain 51.5546565 -0.0550912
Lower Morden, London, Great Britain 51.3897736 -0.2163635

Loxford, London, Great Britain 51.5481943 0.084051
Maida Vale, London, Great Britain 51.527592 -0.1905916
Malden Rushett, London, Great Britain 51.3410523 -0.3190757
Manor House, London, Great Britain 51.5703208 -0.0963971
Manor Park, London, Great Britain 51.4269492 -0.1355069
Marks Gate, London, Great Britain 51.5863692 0.1348482
Maryland, London, Great Britain 51.5460532 0.0059223
Marylebone, London, Great Britain 51.5220589 -0.1504553
Mayfair, London, Great Britain 51.5110872 -0.147058
Maze Hill, London, Great Britain 51.482607 0.0038458
Merton Park, London, Great Britain 51.4079938 -0.2019654
Middle Park, London, Great Britain 51.4453135 0.0400849
Mile End, London, Great Britain 51.5253378 -0.033435
Mill Hill, London, Great Britain 51.6154423 -0.2330675
Millbank, London, Great Britain 51.4926121 -0.1290435
Millwall, London, Great Britain 51.4933423 -0.0212187
Mitcham, London, Great Britain 51.4058006 -0.1640787
Monken Hadley, London, Great Britain 51.66121575 -0.19100962162691934
Morden, London, Great Britain 51.4027615 -0.1947552
Morden Park, London, Great Britain 51.3913369 -0.21066262224288523
Mortlake, London, Great Britain 51.4698873 -0.2685226
Motspur Park, London, Great Britain 51.3909852 -0.2488979
Mottingham, London, Great Britain 51.4339336 0.0495702
Muswell Hill, London, Great Britain 51.5910395 -0.1420768
Nag's Head, London, Great Britain 51.5129793 -0.12361979920177762
Neasden, London, Great Britain 51.5543358 -0.250749
New Addington, London, Great Britain 51.3425414 -0.0162924
New Barnet, London, Great Britain 51.6495724 -0.171006
New Cross, London, Great Britain 51.4763706 -0.0326237
New Eltham, London, Great Britain 51.4362297 0.0685289
New Malden, London, Great Britain 51.4053347 -0.2634066
New Southgate, London, Great Britain 51.6140016 -0.1430349
Newbury Park, London, Great Britain 51.5754985 0.0899693
Newington, London, Great Britain 51.48528865 -0.10161266013917428
Nine Elms, London, Great Britain 51.4787433 -0.1362629
Noak Hill, London, Great Britain 51.6216658 0.2271257
Norbiton, London, Great Britain 51.4099994 -0.2873963
Norbury, London, Great Britain 51.4110663 -0.1224869
North Cray, London, Great Britain 51.4251795 0.1345992
North End, London, Great Britain 51.567457 -0.1819168
North Finchley, London, Great Britain 51.6124905 -0.1756922
North Harrow, London, Great Britain 51.5851618 -0.3631762
North Kensington, London, Great Britain 51.5196647 -0.2106959
North Ockendon, London, Great Britain 51.5457699 0.2936981
North Sheen, London, Great Britain 51.4653247 -0.2865821
North Woolwich, London, Great Britain 51.5004071 0.064154
Northolt, London, Great Britain 51.5465937 -0.369565
Northumberland Heath, London, Great Britain 51.4711864 0.1611451
Northwood, London, Great Britain 51.6051713 -0.4205812
Norwood Green, London, Great Britain 51.4966058 -0.3693772
Notting Hill, London, Great Britain 51.5109995 -0.2055267
Nunhead, London, Great Britain 51.4615309 -0.0535056
Oakleigh Park, London, Great Britain 51.6377516 -0.1662835
Old Coulsdon, London, Great Britain 51.307089 -0.119647
Old Ford, London, Great Britain 51.5341124 -0.0268215
Old Malden, London, Great Britain 51.382484 -0.2590897
Old Oak Common, London, Great Britain 51.52921055 -0.2409410474285966
Orpington, London, Great Britain 51.3805859 0.1063469
Osidge, London, Great Britain 51.632198 -0.1430039
Osterley, London, Great Britain 51.4812336 -0.3521981
Oval, London, Great Britain 51.48375215 -0.11496182711601476
Paddington, London, Great Britain 51.5170856 -0.1775422
Palmers Green, London, Great Britain 51.6222544 -0.1127378
Park Royal, London, Great Britain 51.5264341 -0.2839348
Parsons Green, London, Great Britain 51.4750837 -0.201549
Peckham, London, Great Britain 51.4734122 -0.0699321
Penge, London, Great Britain 51.4146841 -0.0534213
Pentonville, London, Great Britain 51.5318579 -0.1084232
Perivale, London, Great Britain 51.5364952 -0.3225887
Petersham, London, Great Britain 51.4436913 -0.3052934
Petts Wood, London, Great Britain 51.3909147 0.0771282
Pimlico, London, Great Britain 51.4889993 -0.1398817
Pinner, London, Great Britain 51.5968712 -0.3770142
Plaistow, London, Great Britain 51.5311544 0.0166833
Plaistow, London, Great Britain 51.5311544 0.0166833
Plumstead, London, Great Britain 51.4804635 0.0924286
Ponders End, London, Great Britain 51.6428463 -0.0347837
Poplar, London, Great Britain 51.5110713 -0.0144629
Pratt's Bottom, London, Great Britain 51.3408843 0.1114591
Preston, London, Great Britain 51.5762155 -0.2915108
Primrose Hill, London, Great Britain 51.5390165 -0.16193786284392453
Purley, London, Great Britain 51.3385156 -0.115893
Putney, London, Great Britain 51.4625524 -0.2167462
Queen's Park, London, Great Britain 51.529149000000004 -0.20881331988409563
Queensbury, London, Great Britain 51.5941903 -0.286181
Rainham, London, Great Britain 51.5167284 0.1996559
Ratcliff, London, Great Britain 51.5463225 0.0331873
Rayners Lane, London, Great Britain 51.5767143 -0.3703002
Raynes Park, London, Great Britain 51.408966 -0.23054
Redbridge, London, Great Britain 51.5763203 0.0454097
Richmond, London, Great Britain 51.4613531 -0.3032767
Riddlesdown, London, Great Britain 51.3329352 -0.0997037
Roehampton, London, Great Britain 51.4498773 -0.2412672
Romford, London, Great Britain 51.5760462 0.1822646
Rotherhithe, London, Great Britain 51.5002908 -0.0436321
Ruislip, London, Great Britain 51.5714026 -0.4213375
Rush Green, London, Great Britain 51.5663201 0.170001
Ruxley, London, Great Britain 51.4143345 0.1326256
Sanderstead, London, Great Britain 51.3340837 -0.0767435
Sands End, London, Great Britain 51.4725454 -0.1871122
Selhurst, London, Great Britain 51.3922136 -0.0886537
Selsdon, London, Great Britain 51.3443067 -0.0607688
Seven Kings, London, Great Britain 51.5657811 0.0951492
Seven Sisters, London, Great Britain 51.5824738 -0.0749325
Shacklewell, London, Great Britain 51.5523761 -0.0701582
Shadwell, London, Great Britain 51.51125 -0.0569241
Shepherd's Bush, London, Great Britain 51.505314 -0.2229007
Shirley, London, Great Britain 51.3749243 -0.0466335
Shooter's Hill, London, Great Britain 51.4692255 0.066306
Shoreditch, London, Great Britain 51.5266694 -0.0798926
Sidcup, London, Great Britain 51.4264002 0.101044
Silvertown, London, Great Britain 51.5013626 0.0385185
Sipson, London, Great Britain 51.489419 -0.4562064
Slade Green, London, Great Britain 51.4676731 0.1903098
Snaresbrook, London, Great Britain 51.5831734 0.0228777
Soho, London, Great Britain 51.5131628 -0.1311754
Somerstown, London, Great Britain nan nan
South Croydon, London, Great Britain 51.3629056 -0.0932762
South Hackney, London, Great Britain 51.5432402 -0.0493621
South Harrow, London, Great Britain 51.5646517 -0.3522211
South Hornchurch, London, Great Britain 51.5330916 0.1912727
South Kensington, London, Great Britain 51.4940494 -0.1730439
South Norwood, London, Great Britain 51.3980951 -0.0768216
South Ruislip, London, Great Britain 51.5569909 -0.3990635
South Wimbledon, London, Great Britain 51.4151759 -0.1926457
South Woodford, London, Great Britain 51.5917798 0.0274276
South Tottenham, London, Great Britain 51.5804433 -0.0717169
Southend, London, Great Britain 51.5938499 0.037646
Southall, London, Great Britain 51.5111461 -0.3755169
Southborough, London, Great Britain 51.3899151 0.0446175
Southfields, London, Great Britain 51.4457751 -0.2066142
Southgate, London, Great Britain 51.6281547 -0.123596
Spitalfields, London, Great Britain 51.5195274 -0.0751701
St Helier, London, Great Britain 51.3866947 -0.1800574
St James's, London, Great Britain 51.5079082 -0.1365727
St Margarets, London, Great Britain 51.4567091 -0.3224118
St Giles, London, Great Britain 51.5160098 -0.1219057
St Johns, London, Great Britain 51.4690905 -0.0221846
St John's Wood, London, Great Britain 51.531726 -0.1741901
St Luke's, London, Great Britain 51.489577 -0.16938725233160384
St Mary Cray, London, Great Britain 51.3954765 0.1138557
St Pancras, London, Great Britain 51.5322906 -0.1259994
St Paul's Cray, London, Great Britain 51.4031864 0.118389
Stamford Hill, London, Great Britain 51.5707092 -0.0690402
Stanmore, London, Great Britain 51.6188526 -0.3026271
Stepney, London, Great Britain 51.5174023 -0.0462189

Stockwell, London, Great Britain 51.472211 -0.1225014
Stoke Newington, London, Great Britain 51.5576971 -0.0772816
Stonebridge, London, Great Britain 51.5441099 -0.2762285
Stratford, London, Great Britain 51.541289 -0.0035472
Strawberry Hill, London, Great Britain 51.4385925 -0.3399367
Streatham, London, Great Britain 51.429769 -0.1311105
Stroud Green, London, Great Britain 51.5716864 -0.1114972
Sudbury, London, Great Britain 51.5143613 0.0640345
Sundridge, London, Great Britain 51.4198856 0.0202065
Surbiton, London, Great Britain 51.3937557 -0.3033105
Surrey Quays, London, Great Britain 51.4934207 -0.0478319
Sutton, London, Great Britain 51.3575114 -0.173640122600872
Swiss Cottage, London, Great Britain 51.543722 -0.174982
Sydenham, London, Great Britain 51.4269433 -0.0545387
Sydenham Hill, London, Great Britain 51.4326038 -0.072322
Teddington, London, Great Britain 51.4277844 -0.333653
Temple, London, Great Britain 51.5109659 -0.1143345
Temple Fortune, London, Great Britain 51.5819126 -0.1990538
Thamesmead, London, Great Britain 51.4989335 0.1148486
Thornton Heath, London, Great Britain 51.3988709 -0.099602
Tokyngton, London, Great Britain 51.55059635 -0.28489908276928966
Tolworth, London, Great Britain 51.3788758 -0.2828604
Tooting, London, Great Britain 51.4266588 -0.1690768
Tooting Bec, London, Great Britain 51.4356086 -0.1596548
Tottenham, London, Great Britain 51.5976955 -0.0672892
Tottenham Green, London, Great Britain 51.58775405 -0.07147608181567411
Tottenham Hale, London, Great Britain 51.5881223 -0.0599366
Totteridge, London, Great Britain 51.6331335 -0.2008636
Tower Hill, London, Great Britain 51.5098481 -0.0766986
Tufnell Park, London, Great Britain 51.5568005 -0.138457
Tulse Hill, London, Great Britain 51.4412109 -0.1020591
Turnpike Lane, London, Great Britain 51.5888106 -0.1103779
Twickenham, London, Great Britain 51.4467444 -0.3281887
Upminster, London, Great Britain 51.5589502 0.2520875
Upminster Bridge, London, Great Britain 51.5582655 0.2347689
Upper Clapton, London, Great Britain 51.5668384 -0.0605697
Upper Holloway, London, Great Britain 51.5644891 -0.1338683
Upper Norwood, London, Great Britain 51.4164053 -0.0940347
Upper Ruxley, London, Great Britain 51.4102386 0.1436717
Upper Walthamstow, London, Great Britain 51.5879893 0.0020978
Upton, London, Great Britain 51.4524572 0.1275711
Upton Park, London, Great Britain 51.5351062 0.0339842
Uxbridge, London, Great Britain 51.5449509 -0.4816672
Vauxhall, London, Great Britain 51.4874834 -0.1229297
Waddon, London, Great Britain 51.3673011 -0.1173627
Wallington, London, Great Britain 51.357945 -0.1495621
Walthamstow, London, Great Britain 51.5844701 -0.0188186
Walthamstow Village, London, Great Britain 51.5836835 -0.0121451
Walworth, London, Great Britain 51.4901142 -0.0906603
Wandsworth, London, Great Britain 51.4570271 -0.1932607
Wanstead, London, Great Britain 51.5756739 0.0277989
Wapping, London, Great Britain 51.5054363 -0.0587291
Wealdstone, London, Great Britain 51.5936353 -0.3294758
Well Hall, London, Great Britain 51.4574683 0.0501437
Welling, London, Great Britain 51.46529 0.1059038
Wembley, London, Great Britain 51.5531547 -0.2957562
Wembley Park, London, Great Britain 51.5636297 -0.2800532
Wennington, London, Great Britain 51.5043496 0.2205249
West Brompton, London, Great Britain 51.4869765 -0.1951854
West Drayton, London, Great Britain 51.503513 -0.4662704
West Ealing, London, Great Britain 51.5135091 -0.3207704
West Green, London, Great Britain 51.5868063 -0.0898489
West Hackney, London, Great Britain 51.5608595 -0.0691322
West Ham, London, Great Britain 51.5280966 0.0045685
West Hampstead, London, Great Britain 51.5468194 -0.1899646
West Harrow, London, Great Britain 51.5795852 -0.3530692
West Heath, London, Great Britain 51.4808745 0.1273574
West Hendon, London, Great Britain 51.578213 -0.2403793
West Kensington, London, Great Britain 51.4906622 -0.205916
West Norwood, London, Great Britain 51.4346192 -0.1036917
West Wickham, London, Great Britain 51.3758036 -0.0146843
Westcombe Park, London, Great Britain 51.4842204 0.0188787
Westminster, London, Great Britain 51.5013562 -0.1249302
Whetstone, London, Great Britain 51.6301762 -0.1748844
White City, London, Great Britain 51.5119347 -0.2242361
Whitechapel, London, Great Britain 51.5186227 -0.0620807
Widmore, London, Great Britain 51.4023963 0.0351602
Whitton, London, Great Britain 51.4511693 -0.3579759
Willesden, London, Great Britain 51.5466216 -0.2358661
Wimbledon, London, Great Britain 51.4214787 -0.2064027
Winchmore Hill, London, Great Britain 51.6333948 -0.1033617
Wood Green, London, Great Britain 51.5959898 -0.1091471
Woodford, London, Great Britain 51.6068055 0.0340119
Woodford Green, London, Great Britain 51.6118469 0.02407962103878284
Woodlands, London, Great Britain 51.4721654 -0.3374321
Woodside, London, Great Britain 51.3870773 -0.0653308
Woodside Park, London, Great Britain 51.6179483 -0.1855794
Woolwich, London, Great Britain 51.4826696 0.0623335
Worcester Park, London, Great Britain 51.3783998 -0.2416023
Wormwood Scrubs, London, Great Britain 51.52137985 -0.24043929057201105
Yeading, London, Great Britain 51.527239 -0.3992705
Yiewsley, London, Great Britain 51.5128661 -0.4741522

          Area Latitude  Longitude
0   Abbey Wood  51.4876    0.11405
1        Acton  51.5081  -0.273261
2    Addington  51.3586 -0.0316347
3   Addiscombe  51.3797 -0.0742821
4  Albany Park  51.4354   0.125965

In [6]:
df_l = df

## Deleting dublicates and nan values

In [7]:
print(df.shape)
print(df.isna().any())
df.dropna(0, inplace=True)
print(df.isna().any())

print("Duplicates?",df.duplicated().any())
df.drop_duplicates(inplace=True)
print(df.duplicated().any())
df.reset_index(inplace=True, drop=True)
df.shape

(533, 3)
Area         False
Latitude      True
Longitude     True
dtype: bool
Area         False
Latitude     False
Longitude    False
dtype: bool
Duplicates? True
False

(522, 3)

In [12]:
df.head(10)

          Area Latitude  Longitude
0   Abbey Wood  51.4876    0.11405
1        Acton  51.5081  -0.273261
2    Addington  51.3586 -0.0316347
3   Addiscombe  51.3797 -0.0742821
4  Albany Park  51.4354   0.125965
5      Aldgate  51.5142 -0.0757186
6      Aldwych  51.5116  -0.119024
7     Alperton  51.5408  -0.300096
8      Anerley  51.4076 -0.0619394
9        Angel  51.5319  -0.106106

In [14]:
df.to_csv("london_areas_latlong.csv", index=False)    # uncomment if you want to save the dataframe

## Getting Frankfurt Stadtteile

In [9]:
# df_f means dataframe frankfurt
df_f = pd.read_html("https://de.wikipedia.org/wiki/Liste_der_Stadtteile_von_Frankfurt_am_Main")
df_f = df_f[0]
df_f.head()

,Nr.,Stadtteil,Fläche[3]in km²,Einwohner,Weiblich,Männlich,Deutsche,Ausländer,Ausländerin Prozent,Einwohnerje km²,Ortsbezirk,Stadtgebietseit,Vorherige Zugehörigkeit
0,1,Altstadt,NaN,NaN,NaN,NaN,NaN,NaN,373,8204,01 Innenstadt I,1866[Anm. 1],Freie Stadt Frankfurt
1,2,Innenstadt,NaN,NaN,NaN,NaN,NaN,NaN,468,4430,01 Innenstadt I,1866[Anm. 2],Freie Stadt Frankfurt
2,3,Bahnhofsviertel,NaN,NaN,NaN,NaN,NaN,NaN,54,6570,01 Innenstadt I,1866[Anm. 3],Freie Stadt Frankfurt
3,4,Westend-Süd,NaN,NaN,NaN,NaN,NaN,NaN,275,7538,02 Innenstadt II,1866[Anm. 3],Freie Stadt Frankfurt
4,5,Westend-Nord,NaN,NaN,NaN,NaN,NaN,NaN,293,6249,02 Innenstadt II,1866[Anm. 3],Freie Stadt Frankfurt

In [10]:
df_f.drop(df_f.columns.difference(['Stadtteil','Weiblich', 'Männlich']), 1, inplace=True)
df_f.columns = ["Borough", "Latitude", "Longitude"]
df_f.head()

           Borough Latitude Longitude
0         Altstadt      NaN       NaN
1       Innenstadt      NaN       NaN
2  Bahnhofsviertel      NaN       NaN
3      Westend-Süd      NaN       NaN
4     Westend-Nord      NaN       NaN

### Adding latitude and longitude

In [11]:
for i, borough in enumerate(df_f["Borough"]):
    address = f'{borough}, Frankfurt, Germany'
    
    geolocator = Nominatim(user_agent="f_explorer", timeout=None)
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    #print(latitude)
    df_f.at[i, ["Latitude"]] = latitude
    df_f.at[i, ["Longitude"]] = longitude

#df_f.to_csv("frankfurt_boroughs_latlong.csv", index=False)    # uncomment if you want to save the dataframe
df_f.head()

           Borough Latitude Longitude
0         Altstadt  50.1104    8.6829
1       Innenstadt   50.113   8.67434
2  Bahnhofsviertel  50.1077   8.66868
3      Westend-Süd  50.1152   8.66227
4     Westend-Nord  50.1264   8.66792